#------------------- File Settings -----------------------------
FILE_SIZE = 100
FILE_TYPES = ["application/pdf" , "text/plain" ,"officedocument.wordprocessingml.document" , "application/msword"]
LEN_UNIQUE_STR = 10
HASH_ALGORITHM = 'sha256'

#------------------- Connection Settings ------------------------
POSTGRES_USERNAME = "AHMED"
POSTGRES_PASSWORD = 5515

DB_NAME = "SecondMind"


#------------------- PGVector Settings ------------------------
VECTOR_LENGTH = 384


#------------------- Factory Settings ------------------------

EMBED_PROVIDER = "baai"
COHERE_EMBED_MODEL_ID = "embed-v4.0"
COHERE_API = "Your Api"
LOCAL_MODELS_PATH = 'src\stores\embeddings\providers\local\'
MODEL_ID = "LLMXperts/GATE-AraBert-v1" # [LLMXperts/GATE-AraBert-v1 , multilingual-e5-small , bge_m3]

GEMINI_API = "Your Api"
LLM_PROVIDER = "gemini"
GEMINI_LLM_MODEL_ID = "gemini-flash-lite-latest"
LLM_STREAM_MODE = 1
